doctype html
html(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    h1="Adopt a pet!"



    if Array.isArray(pokemons)&&pokemons.length > 0
      ul
      each pet in pokemons
        li
          a(href=`${pet.url}`)=pet.name
      



    //- if Object.keys(pokemon).length > 0
    //-   ul
    //-     each petSort in Object.keys(pets)
    //-       li
    //-         a(href=`/animals/${petSort}`)=petSort
      
